@import "settings";

.description {
  padding: 70px 0;

  @media (min-width: 600px) {
    padding: 90px 0;
  }

  @media (min-width: 820px) {
    padding: 140px 0;
  }
}

.description__text {
  width: 270px;
  text-align: center;
  margin: 0 auto;
  color: $text;
  font-size: 23px;
  font-weight: 400;
  line-height: 33px;

  @media (min-width: 600px) {
    width: 580px;
  }

  @media (min-width: 820px) {
    width: 800px;
  }
}