@import "settings";

.details-photo {
  position: relative;
}

.details-photo_top {

}

.details-photo_bottom {

}

.details-photo__image {
  display: block;
  width: 100%;
}

.details-photo__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 270px;
  height: 60px;
  line-height: 65px;

  text-align: center;
  font-size: 22px;

  background-color: $primary;
  color: #fff;
}

.details-photo__caption_right {
  left: auto;
  right: 0;
}

.details-info {
  padding: 70px 0;
  background-color: #f7f7f7;
}

.details-info_top {

}

.details-info_bottom {

}

.details-info__title {
  width: 280px;
  margin: 0 auto 30px;

  color: $text;
  font-size: 30px;
}

.details-info__title_secondary {
  font-size: 25px;
  margin-top: 40px;
}

.details-info__text {
  width: 280px;
  margin: 0 auto;

  color: $text-secondary;
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 25px;
}

.details-info__text_justify {
  text-align: justify;
}

.details-info__list-item {
  position: relative;
  margin-bottom: 12px;
  padding-left: 32px;

  &:before {
    display: block;
    position: absolute;
    top: 6px;
    left: 0;
    content: ' ';
    width: 10px;
    height: 10px;
    border: 2px solid $primary;
    border-radius: 10px;
  }
}

.details-info__subtitle {
  position: relative;
  width: 280px;
  margin: 0 auto 30px;
}

.details-info__subtitle-icon {
  position: absolute;
  top: 14px;
  width: 24px;
}

.details-info__subtitle-text {
  display: inline-block;
  color: $text;
  font-size: 20px;
  padding-left: 40px;
}