@import "settings";
@import "tools";

.header {
  position: relative;
  width: 100%;
  min-height: 100%;

  padding-top: 40px;
  padding-bottom: 30px;

  background-image: url('../images/header-mobile.png');
  background-size: cover;



  @media (min-width: 375px) {
    padding-top: 60px;
  }

  @media (min-width: 410px) {
    padding-top: 70px;
  }

  @media (min-width: 768px) {
    padding-top: 50px;
    min-height: 768px;

    @media (min-height: 768px) {
      min-height: 100%;
    }
  }

  @media (min-width: 850px) {
    background-image: url('../images/header.png');
  }
}

.header__logo {
  width: 90px;
  height: 90px;
  background-image: url('../images/logo.png');
  background-size: cover;
  margin: 0 auto 40px;

  @media (min-width: 375px) {
    margin-bottom: 60px;
  }

  @media (min-width: 410px) {
    margin-bottom: 70px;
  }
}

.header__info {
  @media (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 700px;

    @include transform(translate(-50%, -50%));
  }

  @media (min-width: 820px) {
    width: 780px;
  }
}

.header__title {
  max-width: 320px;
  margin: 0 auto 15px;

  color: #fff;
  font-size: 40px;
  text-align: center;

  @media (min-width: 768px) {
    max-width: none;
    font-size: 54px;
    margin-bottom: 30px;
  }

  @media (min-width: 820px) {
    font-size: 60px;
  }
}

.header__text {
  width: 300px;
  color: #b0adad;
  font-size: 15px;
  line-height: 20px;
  margin: 0 auto 20px;
  text-align: center;

  @media (min-width: 375px) {
    margin-bottom: 30px;
  }

  @media (min-width: 410px) {
    margin-bottom: 50px;
  }

  @media (min-width: 768px) {
    width: 670px;
    font-size: 18px;
    line-height: 25px;
  }
}

.header__contact {
  position: relative;
  z-index: 1;

  @include button;
}

.header__scroll {
  cursor: pointer;

  @media (min-width: 768px) {
    position: absolute;
    bottom: 60px;
    left: 50%;

    @include transform(translateX(-50%));
  }
}

.header__scroll-text {
  width: 190px;
  text-align: center;
  margin: 0 auto 14px;
  color: #aeabab;
  font-size: 14px;
}

.header__scroll-arrow {
  width: 25px;
  height: 13px;
  background-image: url('../images/scroll-arrow.png');
  background-size: cover;
  margin: 0 auto;
}

.header__corner {
  position: absolute;
  bottom: 10px;
  left: 10px;

  @media (min-width: 375px) {
    bottom: 15px;
    left: 15px;
  }

  @media (min-width: 768px) {
    bottom: 40px;
    left: 40px;
  }
}

.header__corner-yellow {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 1px;
  height: 80px;
  border-left: 1px solid $primary;

  @media (min-width: 768px) {
    height: 150px;
    left: 25px;
  }
}

.header__corner-gray {
  position: absolute;
  bottom: 20px;
  width: 80px;
  height: 80px;
  border: 1px solid #979797;
  border-top: none;
  border-right: none;

  @media (min-width: 768px) {
    width: 150px;
    height: 150px;
    bottom: 40px;
  }
}

.header__corner-copyright {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 120px;

  color: #aeabab;
  font-size: 12px;

  @media (min-width: 768px) {
    left: 45px;
    font-size: 14px;
    width: 140px;
    bottom: 6px;
  }
}